title {
    display: flex;
    ion-row {
        padding: 0;
        margin: 0;
        ion-col {
            padding: 0;
            margin: 0;
            div {
                .totalBadgeCount {
                    display: none;
                }
                ion-badge {
                    float: right;
                    font-size: 0.5em;
                    padding: 3px 5px;
                }
            }
            small {
                font-size: 11px;
            }
        }
    }
}