<ion-header>
  <modal-toolbar [title]="'Common._ChangePassword_' | translate" (dismiss)="dismiss($event)"></modal-toolbar>
</ion-header>
<ion-content padding="">
  <form [formGroup]="changePasswordForm" (ngSubmit)="update()">
    <ion-list>
      <ion-item>
        <ion-label ion-text color="primary" floating>
          Current Password
        </ion-label>
        <ion-input formControlName="password" autofocus required type="password" placeholder="Current Password" name="password"></ion-input>
      </ion-item>
      <div class="error-message-block" *ngIf="changePasswordForm.controls.password.errors && (changePasswordForm.controls.password.dirty || changePasswordForm.controls.password.touched)">
        <span *ngIf="changePasswordForm.controls.password.errors.required">Password is required</span>
      </div>
      <ion-item>
        <ion-label ion-text color="primary" floating>
          New Password
        </ion-label>
        <ion-input required formControlName="new_password" type="password" placeholder="New Password" name="new_password"></ion-input>
      </ion-item>
      <div class="error-message-block" *ngIf="changePasswordForm.controls.new_password.errors && (changePasswordForm.controls.new_password.dirty || changePasswordForm.controls.new_password.touched)">
        <span *ngIf="changePasswordForm.controls.new_password.errors.required">New Password is required</span>
      </div>
      <ion-item>
        <ion-label ion-text color="primary" floating>
          Confirm Password
        </ion-label>
        <ion-input required formControlName="confirm_password" type="password" placeholder="Confirm Password" name="confirm_password"></ion-input>
      </ion-item>
      <div class="error-message-block" *ngIf="changePasswordForm.controls.confirm_password.errors && (changePasswordForm.controls.confirm_password.dirty || changePasswordForm.controls.confirm_password.touched)">
        <span *ngIf="changePasswordForm.controls.confirm_password.errors.required">Confirm Password is required</span>
        <span *ngIf="changePasswordForm.controls.confirm_password.errors?.MatchPassword">Confirm Password should be same as New Password</span>
      </div>
    </ion-list>
    <ion-grid padding>
      <ion-row>
        <ion-col>
          <button ion-button block type="submit" [disabled]="!changePasswordForm.valid">
            Change Password
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>